body.dashboard {
  text-align: justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 15px 0px;
  /* background: linear-gradient(to bottom right, #ffffff 0%, #d8d4dc 100%); */
  background: linear-gradient(to bottom right, #ffffff 0%, #c7c4d1 100%);
}

.expand-enter-active,
.expand-leave-active {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}


#dashboard #name-location {
  max-width: 1314px;
  box-shadow:   2px 2px 5px 1px  #c7c4d1;
  background: linear-gradient( white 60%, #301a70 40%);
  border-color: rgb(190, 187, 187);
  border-style: solid;
  border-width: .5px;
  padding-top: 13px;
  padding-bottom:4px;
  border-radius: 5px;
}

.dashboard #about {
  background-color: white;
  border-width: .5px;
  border-color: rgb(190, 187, 187);
  border-style: solid;
  box-shadow:   2px 2px 5px 1px  #c7c4d1;
  border-radius: 5px;
  text-align: left;
}

#dashboard #about .md-content {
  max-width: 900px;
  max-height: 250px;
  overflow: auto;
}

#dashboard #stats {
  border-radius: 5px;
}

#stats .card {
  border-radius: 5px;
  margin-left:5px;
  margin-right:5px;
  box-shadow:   2px 2px 5px 1px  #c7c4d1;
}

#dashboard .service-border {
  border-bottom: 2px solid #4527a0;
}

#dashboard #form-row-border{
  border-bottom: 1px solid black;
}



#dashboard .md-checkbox {
  display: flex;
}

#dashboard #service-card .md-card-content {
  max-width: 900px;
  max-height: 200px;
  overflow: auto;
}

#dashboard .md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}



.dashboard #services {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  background-color: white ;
  color:black;
  box-shadow: 1px 1px 2px 1px  #9f9aac;
  border-radius: 5px;
}


.dashboard #subservice-block {
  min-width: 95%; 
  margin-left: 40px;
}

/* .dashboard .service-block-sub{
  padding-left:100px;
  border-radius: 5px;
} */

/* .dashboard .service-block #service-title{
  background-color: #d6d1e4;
  box-shadow:  0px 2px 2px 1px  #c2bece;
  padding-left: 10px;
  padding-top:0px;
  border-radius: 5px;
} */

.dashboard .service-block #service-desc{
  background-color: white;
  border-radius: 5px;
}

.dashboard .service-block-sub #service-title{
  background-color: #4a148c;
  padding-left: 10px;
  margin-right: 10px;
  padding-top:0px;
  border-radius: 5px;
  box-shadow:0px 0px 0px 0px;
}

.dashboard .service-block #service-desc{
  background-color: white;
  border-radius: 5px;
}

/* Profile photo - company logo */
.circle,
#logo {
  background-color: white;
  width: 150px;
  height: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Icons/noun_DNA_2362091.png");
}

#dashboard #logo-border {
  background-color: #301a70;
  width: 170px;
  height: 170px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

#price-chart {
  border-color: rgb(190, 187, 187);
  border-style: solid;
  border-width: .5px;
  max-width: 800px;
}

/*------------- Text ------------------------*/
/* .dashboard #dashboard #add-services p {
  text-align: left;
  color: #4527a0;
} */

#dashboard .md-title {
  font-size: 25px;
  color: #4527a0;
}

#dashboard .md-title {
  font-size: 25px;
  color: #4527a0;
}

#dashboard #service_logo {
  color: #4527a0;
  font-size: 25px;
}

.dashboard #dashboard h1 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 35px "Roboto";
  color: #311c63;
  text-align: center;
}

.dashboard #dashboard h2 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 25px "Roboto";
  color: #311c63;
  text-align: center;
}

.dashboard #dashboard h3 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 25px "Roboto";
  color: #311c63;
  text-align: center;
}

.dashboard .services h4 {
  letter-spacing: 1px;
  font: 20px "Roboto";
  color: #311c63;
}

.dashboard .service-block h4 {
  letter-spacing: 1px;
  font: 20px "Roboto";
  color: #311c63;
}

.dashboard .service-block-sub h4 {
  letter-spacing: 1px;
  font: 20px "Roboto";
  color: #311c63;
}

#dashboard #about h4 {
  /* font-style: medium; */
  font: 19px "Roboto";
  color: black;
  text-align: left;
}

#dashboard #about p {
  letter-spacing: 1px;
  /* font-style: medium; */
  font: 17px "Roboto";
  color: black;
  text-align: center;

}

.dashboard #dashboard #stats h4 {
  letter-spacing: 1px;
  /* font-style: medium; */
  font: 18px "Roboto";
  text-align: center;
}



#dashboard #service-desc h5 {
  font: 15px "Roboto";
  color: #111;
}

#dashboard #services h6 {
  font: 17px "Roboto";
  color: white;
}

#dashboard #stats h6 {
  font: 15px "Roboto";
  color: #111;
  text-align: center;
}

.card-text {
  font: 18px "Roboto";
  color: #111;
  text-align: center;
}

#dashboard p {
  font: 20px "Roboto";
  color: #111;
  text-align: center;
}

#dashboard #price-chart p  {
  font: 16px "Roboto";
  color: #111;
}

#dashboard #spec_inquiry p {
  text-align: left;
}

.md-checkbox {
  display: flex;
}

#add_service{
  padding-top:10px;
}

#service-form-block {
  color:#4527a0;
  border: 5px #4527a0 solid;
  padding: 30px;
}

#service-form-block table {
  width: 100%;
  table-layout: fixed;
  background: #ebe8f1;
}

#subservice-form-block table {
  width: 100%;
  table-layout: fixed;
  background: #ebe8f1;
}

#subservice-form-block {
  color:#4527a0;
}


/* Responsive Text */

a {
  color: #311c63;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #6a2c86;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

p {
  font-size: 18px;
  line-height: 1.5;
  /* color: #dad8d8; */
  margin-bottom: 20px;
}

.form p {
  font-size: 12px;
  line-height: 1.5;
  /* color: #dad8d8; */
}

.expand-enter-active,
.expand-leave-active {
  transition-property: opacity, height;
}

.expand-enter,
.expand-leave-to {
  opacity: 0;
}

/* ------------- buttons ----------------- */
/* The following button css was copied directly from FigAnal for reference */

/* Stats View Leads */

.btn-quote-req{
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-style: medium;
  margin: 0 auto;
  justify-content: center;
}

.btn-gen-inq {
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-style: medium;
  margin: 0 auto;
  justify-content: center;
  background-color: #2238ff;
}

#btn-orders {
  background-color: #9d46ff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
}

#btn-orders:hover, #btn-orders:focus, #btn-orders:active {
  background-color: hsl(268, 97%, 74%);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
}

#btn-leads {
  background-color: #00c853;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
}

#btn-leads:hover, #btn-leads:focus, #btn-leads:active {
  background-color: #4ee271;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
}

/* #btn-orders {
  background-color: #9d46ff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
} */

/* Stats Add credits */
/* .btn-add-service {
  border-radius: 300px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-style: medium;
  margin: 0 auto;
  justify-content: center;
}

.btn-login {
  border-radius: 300px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: medium;
  margin: 0 auto;
  justify-content: center;
}

.btn-signup-outline {
  color: rgb(190, 190, 190);
  border: 1px solid;
  border-color: rgb(190, 190, 190);
}

.btn-login-outline {
  color: rgb(190, 190, 190);
  border: 1px solid;
  border-color: rgb(190, 190, 190);
}

.btn-signup-outline:hover, .btn-signup-outline:focus, .btn-signup-outline.active {
  color: white;
  border-color: #361555;
  background-color: #361555;
}

.btn-login-outline:hover, .btn-login-outline:focus, .btn-login-outline.active {
  color: white;
  border-color: #088a12;
  background-color: #088a12;
}

.btn-xl {
font-size: 11px;
padding: 15px 45px;
} */




/* Tagging Basic Style */




/* ------Vue Directive Responsive Design Ish ----------------------------------------------------*/

.responsive-component.small body.dashboard {
  text-align: center;
  text-align: justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10px 0px;
  background: linear-gradient(to bottom right, #ffffff 0%, #d8d4dc 100%);
} 

.responsive-component.small #add-services {
  margin: 10px;
}

/* logo */
.responsive-component.small #dashboard #logo {
  background-color: white;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Icons/noun_DNA_2362091.png");
}

.responsive-component.small .dashboard #subservice-block {
  min-width: 95%; 
  margin-left: 20px;
}

#service-form-block{
  padding:10px;
}

.responsive-component.small #dashboard #logo-border {
  background-color: #301a70;
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

