body.dashboard {
  text-align: justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 15px 0px;
  /* background: linear-gradient(to bottom right, #ffffff 0%, #d8d4dc 100%); */
  background: linear-gradient(to bottom right, #ffffff 0%, #e1dfe7 100%);
}

.expand-enter-active,
.expand-leave-active {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}


#dashboard #name-location {
  max-width: 1314px;
  box-shadow:   2px 2px 5px 1px  #c7c4d1;
  background: linear-gradient( white 60%, #301a70 40%);
  border-color: rgb(190, 187, 187);
  border-style: solid;
  border-width: .5px;
  padding-top: 13px;
  padding-bottom:4px;
  border-radius: 5px;
}

.dashboard #about {
  background-color: white;
  border-width: .5px;
  border-color: rgb(190, 187, 187);
  border-style: solid;
  box-shadow:   2px 2px 5px 1px  #c7c4d1;
  border-radius: 5px;
  text-align: left;
  padding: 15px;
}

#dashboard #about .md-content {
  max-width: 1200px;
  max-height: 250px;
  overflow: auto;
}

#dashboard #stats {
  border-radius: 5px;
}
#services .md-empty-state{
  color: #bdb7c7;
}

#stats .card {
  border-radius: 5px;
  margin-left:5px;
  margin-right:5px;
  box-shadow:   2px 2px 5px 1px  #c7c4d1;
}

#dashboard .service-border {
  border-bottom: 2px solid #301a70;
}

#dashboard .md-checkbox {
  display: flex;
}

#dashboard #service-card .md-card-content {
  max-width: 900px;
  max-height: 200px;
  overflow: auto;
}

#dashboard .md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}



.dashboard #services {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  background-color: white ;
  color:black;
  box-shadow: 1px 1px 2px 1px  #9f9aac;
  border-radius: 5px;
}


.dashboard #subservice-block {
  min-width: 95%; 
  margin-left: 40px;
}

.dashboard .service-block #service-desc{
  background-color: white;
  border-radius: 5px;
}

.dashboard .service-block-sub #service-title{
  background-color: #301a70;
  padding-left: 10px;
  margin-right: 10px;
  padding-top:0px;
  border-radius: 5px;
  box-shadow:0px 0px 0px 0px;
}

.dashboard .service-block #service-desc{
  background-color: white;
  border-radius: 5px;
}

/* Profile photo - company logo */
.circle,
#logo {
  background-color: white;
  width: 150px;
  height: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("./Icons/noun_DNA_2362091.png"); */
  background-image: url("./noun_Science_profile_crop_purple.png");
}

#dashboard #logo-border {
  background-color: #301a70;
  width: 160px;
  height: 160px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}

#price-chart {
  border-color: rgb(190, 187, 187);
  border-style: solid;
  border-width: .5px;
  max-width: 800px;
}

/*------------- Text ------------------------*/

#dashboard .md-title {
  font-size: 25px;
  color: #301a70;
}

#dashboard .md-title {
  font-size: 25px;
  color: #301a70;
}

#dashboard #service_logo {
  color: #301a70;
  font-size: 25px;
}

.dashboard #dashboard h1 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 35px "Roboto";
  color: #311c63;
  text-align: center;
}

.dashboard #dashboard h2 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 25px "Roboto";
  color: #311c63;
  text-align: left;
}

.dashboard #dashboard h3 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 25px "Roboto";
  color: #311c63;
  text-align: center;
}

.dashboard #services h4 {
  letter-spacing: 1px;
  font: 20px "Roboto";
  color: #311c63;
}


.dashboard .pricing_block h5{
  font: 20px "Roboto";
  color: rgb(100, 100, 100);
} 


.dashboard .sub_pricing_block h5{
  font: 20px "Roboto";
  color: rgb(100, 100, 100);
} 

.dashboard .service-block h4 {
  letter-spacing: 1px;
  font: 20px "Roboto";
  color: #311c63;
}

.dashboard .service-block-sub h4 {
  letter-spacing: 1px;
  font: 20px "Roboto";
  color: #311c63;
}

#dashboard #about h4 {
  /* font-style: medium; */
  font: 19px "Roboto";
  color: black;
  text-align: left;
}

#dashboard #about p {
  letter-spacing: 1px;
  /* font-style: medium; */
  font: 17px "Roboto";
  color: black;
  text-align: center;

}

.dashboard #dashboard #stats h4 {
  letter-spacing: 1px;
  /* font-style: medium; */
  font: 18px "Roboto";
  text-align: center;
}



#dashboard #service-desc h5 {
  font: 15px "Roboto";
  color: #111;
}

#dashboard #services h6 {
  font: 17px "Roboto";
  color: white;
}

#dashboard #stats h6 {
  font: 15px "Roboto";
  color: #111;
  text-align: center;
}

.card-text {
  font: 18px "Roboto";
  color: #111;
  text-align: center;
}

#dashboard p {
  font: 20px "Roboto";
  color: #111;
  text-align: center;
}

#dashboard #price-chart p  {
  font: 16px "Roboto";
  color: #111;
}

#dashboard #spec_inquiry p {
  text-align: left;
}

.md-checkbox {
  display: flex;
}

#add_service{
  padding-top:10px;
}

#service-form-block {
  color:#301a70;
  padding: 30px;
}

.pricing_block {
  background-color: #f8f6fa;
  padding-left: 10px;
  margin-right: -10px;
  margin-left: -20px;
}

.sub_pricing_block{
  background-color: #f8f6fa;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

#service-form-block table{
  width: 100%;
  table-layout: fixed;
  background: #e2ddeb;
  margin-left: -10px;
  padding-left: 20px;

}

#subservice-form-block table {
  width: 100%;
  table-layout: fixed;
  background: #e2ddeb;
  margin-left: -15px;
  padding-left: 20px;
  margin-right: -30px;
}

#subservice-form-block {
  color:#301a70;
  padding-right: -15px;
}


/* Responsive Text */

a {
  color: #311c63;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #6a2c86;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

p {
  font-size: 18px;
  line-height: 1.5;
  /* color: #dad8d8; */
  margin-bottom: 20px;
}

.form p {
  font-size: 12px;
  line-height: 1.5;
  /* color: #dad8d8; */
}

.expand-enter-active,
.expand-leave-active {
  transition-property: opacity, height;
}

.expand-enter,
.expand-leave-to {
  opacity: 0;
}

/* ------------- buttons ----------------- */
/* The following button css was copied directly from FigAnal for reference */

/* Stats View Leads */

.btn-quote-req{
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-style: medium;
  margin: 0 auto;
  justify-content: center;
}

.btn-gen-inq {
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-style: medium;
  margin: 0 auto;
  justify-content: center;
  background-color: #2238ff;
}

#btn-orders {
  background-color: #6545c5;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

#btn-orders:hover, #btn-orders:focus, #btn-orders:active {
  background-color: #8164d8;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

#btn-leads {
  background-color: rgb(128, 207, 0);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

#btn-leads:hover, #btn-leads:focus, #btn-leads:active {
  background-color: rgb(156, 226, 43);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

/* ------Vue Directive Responsive Design Ish ----------------------------------------------------*/

.responsive-component.small body.dashboard {
  text-align: center;
  text-align: justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10px 0px;
  background: linear-gradient(to bottom right, #ffffff 0%, #d8d4dc 100%);
} 

.responsive-component.small #add-services {
  margin: 10px;
}

/* logo */
.responsive-component.small #dashboard #logo {
  background-color: white;
  width: 110px;
  height: 110px;
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("./Icons/noun_DNA_2362091.png"); */
  background-image: url("./noun_Science_profile_crop_purple.png");
}
.responsive-component.small #dashboard #logo-border {
  background-color: #301a70;
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}
.responsive-component.small .dashboard #subservice-block {
  min-width: 95%; 
  margin-left: 20px;
}

#service-form-block{
  padding:10px;
}



