/* ---------- Global Styling ---------- */

body {
    font: 18px 'Roboto';
    background: linear-gradient(to bottom right, #FFFFFF 0%,  #D8D4DC 100%);
    background-size: cover;
    text-align:center;
    padding-top: 30px;
    min-height: 100vh; 
}

#login a, p {
    text-align:center;
    font: 14px 'Roboto';
    color: #29105b;
}

#login h1 {
    font: 28px 'Roboto';
    color: #29105b;
    text-align:center;
}

#login h2 {
    color: #29105b;
    text-align:center;
}

#form-footer{
    padding-bottom:5px;
    padding-top:15px;
    text-align: center;
}
#form-footer p {
    text-align: center;
    font: 12px 'Roboto';
    color: rgb(129, 114, 114);
}


/* Card Formatting */

.card {
    margin-bottom: 0px;
    max-width:500px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
}

/* .card #rounded {
    border-radius: 10px;
} */


/* Container Formatting */

.container#center {
    /* margin-left: 0 auto;  */
    /* shorthand for:
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
    text-align:center;
}

.container p {
    text-align: center;
    font: 12px 'Roboto';
    color: rgb(129, 114, 114);
}

/* --------- Register Form---------- */



form {
    border-radius: 5px;
    max-width:600px;
    width:100%;
    /* margin: 5% auto; */
    padding: 5px 15px;
    background-color: #FFFFFF;
    overflow: hidden; 
    border-radius: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

#register{
    border-radius: 10px;
}

#register, label{
    font: 18px 'Roboto';
    color: rgb(94, 94, 94);
    text-align:left;
}

#personalinfo {
    width: 49.5%; 
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
    overflow: hidden;
    clear: both;
}
  
#companyinfo {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
    overflow: hidden;
    clear: both;
}

#register-form-footer{
    border-top: 2px #917e9e;
}


.fixed-horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

.error {
    color: red;
}

#sign-up-link{
    color: #850696;
}
#sign-up-link:hover, 
#sign-up-link:active, 
#sign-up-link:focus {
    color: #b109c7;
}

p {
    text-align: left;
    color: white;
    /* font-size: 15px */
    font: 20px "roboto";
}

#btn-login {
    color: white;
    border-color: #850696;
    background-color: #850696;
    justify-content: center;
    display: inline-block;
    border-radius: 10px;
}

#btn-login:hover, 
#btn-login:active, 
#btn-login:focus {
    color: white;
    border-color: #9c07af;
    background-color: #9c07af;
    justify-content: center;
    display: inline-block;
    border-radius: 20px;
}

#btn-submit {
    color: white;
    border-color: #361555;
    background-color: #361555;
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
}

#btn-submit:hover {
    color: white;
    border-color: #850696;
    background-color: #850696;
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
}

#btn-next {
    color: white;
    border-color: #850696;
    background-color: #850696;
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
}
#btn-next:hover {
    color: white;
    border-color: #b109c7;
    background-color: #b109c7;
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
}

#btn-previous {
    color: #850696;
    border-color: #850696;
    background-color: white;
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
}

#btn-previous:hover {
    color: #a109c7;
    border-color: #a109c7;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    display: inline-block;
    border-radius: 5px;
}



/* Responsive ish */

.responsive-component.small .fixed-horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;  
}


/* ------Login Form--------- */

#login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;  
}

#login_form-footer{
    padding-bottom:5px;
    padding-top:15px;
    text-align: center;
    width: 350px;
}

#login h1 {
    text-align: center;
    text-transform: uppercase;
}



.login #login label{
    font: 18px 'Roboto';
    color: rgb(94, 94, 94);
    text-align:left;
}

.login #login h1 {
    font: 28px 'Roboto';
    color: #29105b;
}
p {
    font-size: 10px;
    text-align: left;
}




#legal-links {
    letter-spacing: 1px;
    font: 15px 'Roboto';
    text-align: center;
    /* color: #917e9e; */
    color: #29105b;
}



#login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height:150px;
}

/* loading animation - replace filled form with loading animation*/
.loader {
    color: #3c1760;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {
0%,
100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
}
12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
}
25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
}
37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
}
50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
}
62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
}
75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
}
87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
}
}
@keyframes load4 {
0%,
100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
}
12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
}
25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
}
37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
}
50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
}
62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
}
75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
}
87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
}
}

/* Buyer Login */

.login #buyer-login h1 {
    font: 28px 'Roboto';
    color: #29105b;
}
