
/* --------Hello Dashboard Nav-------------- */
#mainNav {
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: -5px;
  padding-top:0px;
}


/* --------Seller Dashboard Nav-------------- */
.nav-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.modal["view_cart"] {
  background: transparent;
}

/* .btn-cart {
  border-color: #361555;
  border-width: 2px;
}

.btn-cart h3{
  color: #361555;
  font-style: bold;
} */

.btn-cart:hover,
.btn-cart:focus,
.btn-cart.active {
  border-color: purple;
}

.btn-cart h3:hover,
.btn-cart h3:focus,
.btn-cart h3.active {
  color: purple;
}

#seller_nav {
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: -15px;
}
#seller_nav_icon {
  font-size: 20px;
}

#seller_nav_icon:hover {
  color:  yellowgreen ;
}

#seller_nav:hover, #buyer_nav .navbar-brand:focus {
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

/* -------Buyer Nav ----------*/
#buyer_nav {
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: -15px;
}

#buyer_nav_icon:hover, #buyer_nav_icon:focus, #buyer_nav_icon:active {
  color:  yellowgreen ;
}

#buyer_nav:hover, #buyer_nav .navbar-brand:focus {
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

#nav-collapse:hover{
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

#buyer_nav_icon {
  font-size: 20px;
}
