
/* --------Hello Dashboard Nav-------------- */
#mainNav {
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;

  font-size: 12px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: -5px;
  padding-top:0px;
}

#mainNav:hover {
  color: #823E90;
  visibility:visible;

  background-color: white;
  height:auto;
}


/* #mainNav .navbar-nav > li > a.active,
#mainNav .navbar-nav > li > a:hover, {
  color: #87C27B !important;
  background-color: transparent;
} */

/* --------Seller Dashboard Nav-------------- */

#dashboard_nav{
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  padding:0px;
}


#dashboard_nav .navbar-brand{
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  padding-right:10px;
}
#dash_icon:hover {
  color:  yellowgreen ;
}
#dashboard_nav:hover, #dashboard_nav .navbar-brand:focus {
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

#dashboard_nav .navbar-toggler {
  font-size: 12px;
  color: #823E90;
}

#dashboard_nav .navbar-nav > li > a {
  font-size: 12px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#dash_icon{
  padding: 5px;
  font-size: 35px;
}

ul {
  text-align: left
}

.nav-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.modal["view_cart"] {
  background: transparent;
}

.btn-cart {
  border-color: #361555;
  border-width: 2px;
}

.btn-cart h3{
  color: #361555;
  font-style: bold;
}

.btn-cart:hover,
.btn-cart:focus,
.btn-cart.active {
  border-color: purple;
}

.btn-cart h3:hover,
.btn-cart h3:focus,
.btn-cart h3.active {
  color: purple;
}

/* -------Buyer Nav ----------*/
#buyer_nav {
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 15px;
}

#buyer_nav_icon:hover {
  color:  yellowgreen ;
}

#buyer_nav:hover, #buyer_nav .navbar-brand:focus {
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

#nav-collapse:hover{
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

#buyer_nav_icon {
  font-size: 30px;
}
