
/* NAVBAR STYLING */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  /* visibility: hidden;  */
  opacity: 0;
}

#mainNav .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav:hover, #mainNav .navbar-brand:focus {
  color: #823E90;
  visibility:visible;
  opacity: 1;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #823E90;;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* #mainNav .navbar-nav > li > a.active,
#mainNav .navbar-nav > li > a:hover, {
  color: #87C27B !important;
  background-color: transparent;
} */

ul {
  text-align: left
}

.nav-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}


.modal["view_cart"] {
  background: transparent;
}

.btn-cart {
  border-color: #361555;
  border-width: 2px;
}

.btn-cart h3{
  color: #361555;
  font-style: bold;
}

.btn-cart:hover,
.btn-cart:focus,
.btn-cart.active {
  border-color: purple;
}

.btn-cart h3:hover,
.btn-cart h3:focus,
.btn-cart h3.active {
  color: purple;
}

