body.inbox {
  text-align: center;
  text-align: justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  background: linear-gradient(to bottom right, #FFFFFF 0%,  #e1dfe7 100%);
  padding: 15px 0px;
}

#inbox .message-header-a{
  background-color: #301a70;
  color: white;
  padding-top:10px;
  width:100%;
  border-radius:5px;
}
#inbox .message-header-b{
  background-color: #301a70;
  color: white;
  width:100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius:5px;
  margin-top: 10px;
}

#inbox .message-header-a h3{
  letter-spacing: 1px;
  font-style: medium;
  font: 25px "Lato";
  color: white;
  text-align: left;
  padding-left: 10px;
}

#inbox .message-header-a h4{
  letter-spacing: 1px;
  font-style: medium;
  font: 16px "Lato";
  color: white;
  text-align: left;
  padding-left: 30px;
}

#inbox #response-text-bubble {
  padding:10px;
  width: 80%; 
  background-color: #dcffde; 
  color: black;
  border-radius:20px;
  height: auto;
}
#inbox #recieve-text-bubble{
  padding:10px;
  width: 80%; 
  background-color: #f4f4f4; 
  color: black;
  border-radius:20px;
  height: auto;
}

#inbox h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 30px 'Roboto';
  color: #29105b;
  text-align:left;
}

#inbox h3 {
  letter-spacing: 2px;
  font-style: medium;
  font: 25px "Lato";
  color: #311c63;
  text-align: center;
}

#inbox h5 {
  letter-spacing: 2px;
  font-style: medium;
  font: 15px "Lato";
  color: #311c63;
  text-align: center;
}

#inbox .container {
  background-color: #FAFAFA;
}

#inbox p {
  font-size: 13px;
}
#inbox p.lead {
  font-size: 15px;
}

#inbox .aside {
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
}

#inbox .invoice-editor {
background-color: white;
overflow-y: auto;
max-height: 500px;
}

#inbox .messages {
  display:block;
  background-color: #fff;
  border-right: 1px solid #DEDEDE;
}
#inbox .message {
  display:block;
  background-color: #fff;
}

#inbox .aside .compose {
  height: 95px;
  margin:0 -10px;
  padding: 25px 30px;
}

#inbox .aside .compose .button {
  color: #F6F7F7;
}
#inbox .aside .compose .button .compose {
  font-size: 18px;
  font-weight: 700;
}
#inbox .aside .main-inbox {
  padding: 40px;
  color: #6F7B7E;
}
#inbox .aside .title {
  color: #6F7B7E;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
#inbox .aside .main-inbox .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
#inbox .aside .main-inbox .item.active {
  background-color: #F1F1F1;
  margin: 0 -50px;
  padding-left: 50px;
}
#inbox .aside .main-inbox .item:active,.aside .main-inbox .item:hover {
  background-color: #F2F2F2;
  margin: 0 -50px;
  padding-left: 50px;
}
#inbox .aside .main-inbox .icon {
  font-size: 22px;
  padding-right: 30px;
  color: #A0A0A0;
}


#inbox .aside .main-inbox .name {
  font-size: 18px;
  color: #5D5D5D;
  font-weight: 500;
}
#inbox .messages {
  padding: 40px 20px;
}
#inbox .message {
  padding: 40px 20px;
}
#inbox .messages .action-buttons {
  padding: 0;
  margin-top: -20px;
}
#inbox .message .action-buttons {
  padding: 0;
  margin-top: -5px;
}

#inbox .pg {
  display: inline-block;
  top:10px;
}

#inbox .inbox-messages {
  border: #232B2D;
  border-width: 5px;
  margin-top:60px;
}

#inbox .inbox-messages .card-content {
  border-style: solid;
  border-width: 0.5px;
  width: 100%;
}
#inbox .inbox-messages strong {
  color: #5D5D5D;
}
#inbox .inbox-messages .msg-check {
  padding: 0 20px;
}
#inbox .inbox-messages .msg-subject {
  padding: 10px 0;
  color: #5D5D5D;
}
#inbox .inbox-messages .msg-attachment {
  float:right;
}
#inbox .inbox-messages .msg-snippet {
  padding: 5px 20px 0px 5px;
}
#inbox .inbox-messages .msg-subject .fa {
  font-size: 18px;
  padding:3px 0;
}
#inbox .inbox-messages .msg-timestamp {
  float: right;
  padding: 0 20px;
  color: #5D5D5D;
}
#inbox .message-preview .avatar {
  display: inline-block;
}
#inbox .message-preview .top .address {
  display: inline-block;
  padding: 0 20px;
}

#inbox .avatar img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 2px;
}
#inbox .address .name {
  font-size: 20px;
  font-weight: bold;
}
#inbox .address .email {
  font-weight: bold;
  color: #B6C7D1;
}
#inbox .card.active {
  background-color:#F5F5F5;
}

/* lock toggle */

#inbox .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

#inbox .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

#inbox .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

#inbox .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#inbox input:checked + .slider {
  background-color: #87C27B;
}

#inbox input:focus + .slider {
  box-shadow: 0 0 1px #87C27B;
}

#inbox input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#inbox .reply_msg{
  padding-left: 10px;
  padding-bottom: 50px;
}

/* recup */

/* #inbox  .message-wrapper .panel {
  border-top: none;
  margin-top: 10px;
} */

#inbox .list-message .list-group-item {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  color: #999999 !important;
  /* border-right: 3px solid #8CC152 !important; */
}

#inbox .list-message .pending-order {
  border-right: 3px solid #a255ff !important;
}

#inbox .list-message .request {
  border-right: 3px solid #8CC152 !important;
}

#inbox .list-message #responded {
  background-color: #f2f1f5;
}

#inbox .list-message #unresponded {
  background-color: white;
}

#inbox .avatar{
  width:50px;
  height:50px;
}

 /* IN PROCESS  */
/* #inbox .message-wrapper .col-md-6.message-sideright.input{
  height: 150px;
  background-color: white; 
  border-right: 1px groove white; 
  border-left: 1px groove white;
} */

/* scrolly bars */

#inbox .inbox-wrapper{
  width: 100%;
  background-color:transparent;
}
#inbox .message-sideleft .panel-body {
  overflow-y: auto;
  height: 100%;
}
#inbox .col-lg-3 {
  min-width:300px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
}
/* .responsive_component.small #inbox .message-sideleft{
  width: 350px;
} */
#inbox .col-lg-6 {
  min-width: 400px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
}

#inbox .message-sideright{
  overflow-y: auto;
  max-height: 615px;
  background-color: white; 
}


#inbox .invoice-generator{
  overflow-y: auto;
  max-height: 700px;
  margin-top: -10px;
  padding: 10px;
  min-width:350px;
  margin-left: -15px;
  margin-right: -10px;
}


.invoice-preview{
  padding:10px;
  margin:10px;
  border: 2px dotted #0a00b6;
}

/* EXTRA */

/* body{margin-top:20px;
  background:#eee;
  } */
  
  /* ========================================================================
   * MESSAGES
   * ======================================================================== */
  /* .message form {
    padding: 6px 15px;
    background-color: #FAFAFA;
    border-bottom: ;
  }
  .message form .has-icon .form-control-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 34px;
    line-height: 33px;
    text-align: center;
    color: #777;
  }
  .message > a {
    position: relative;
  }
  .message .indicator {
    text-align: center;
  }
  .message .indicator .spinner {
    left: 26%;
    width: 200px;
    font-size: 13px;
    line-height: 17px;
    color: #999;
  }
  
  .message-wrapper {
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
  }
  .message-wrapper .message-sideleft {
    vertical-align: top !important;
  }
  .message-wrapper .message-sideleft[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }

  .message-wrapper .message-sideright[class*="col-"] {
    padding: 30px;
  }
  .message-wrapper .message-sideright .panel {
    border-top: 1px dotted #DDD;
    padding-top: 20px;
  }
  .message-wrapper .message-sideright .panel:first-child {
    border-top: none;
    padding-top: 0px;
  }
  .message-wrapper .message-sideright .panel .panel-heading {
    border-bottom: none;
  }
  .message-wrapper .panel {
    background-color: transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .message-wrapper .panel .panel-heading, .message-wrapper .panel .panel-body {
    background-color: transparent !important;
  }
  .message-wrapper .media .media-body {
    font-weight: 300;
  }
  .message-wrapper .media .media-heading {
    margin-bottom: 0px;
  }
  .message-wrapper .media small {
    color: #999999;
    font-weight: 400;
  }
  
   */

   #inbox .list-message .list-group-item.active {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDD !important;
  }
  #inbox .list-message .list-group-item.active p {
    color: #999999 !important;
  }
  #inbox .list-message .list-group-item.active:hover, .list-message .list-group-item.active:focus, .list-message .list-group-item.active:active {
    background-color: #EEEEEE;
  }
  #inbox .list-message .list-group-item small {
    font-size: 12px;
  
  }
  #inbox .list-message .list-group-item .list-group-item-heading {
    color: #999999 !important;
  }
  #inbox .list-message .list-group-item .list-group-item-text {
    margin-bottom: 10px;
  }
  #inbox .list-message .list-group-item:last-child {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #DDD !important;
  }

  #inbox .icon {
    color:grey;
  }

  /* #inbox .panel-body.invoice-editor .row {
    
  } */

/* OR  */
#inbox .panel-body.invoice-editor .row {
    line-height: 50%;
}





