body.inbox {
  text-align: center;
  text-align: justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #FFFFFF 0%,  #D8D4DC 100%);
  padding: 15px 80px;
}

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 30px 'Roboto';
  color: #29105b;
  text-align:left;
}

h3 {
  letter-spacing: 2px;
  font-style: medium;
  font: 25px "Lato";
  color: #311c63;
  text-align: center;
}

.container {
  background-color: #FAFAFA;
}

.row#header {
  margin-top: 25px;
}

p {
  font-size: 15px;
}
p.lead {
  font-size: 17px;
}

.aside {
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
}

.messages {
  display:block;
  background-color: #fff;
  border-right: 1px solid #DEDEDE;
}
.message {
  display:block;
  background-color: #fff;
}

.aside .compose {
  height: 95px;
  margin:0 -10px;
  padding: 25px 30px;
}

.aside .compose .button {
  color: #F6F7F7;
}
.aside .compose .button .compose {
  font-size: 18px;
  font-weight: 700;
}
.aside .main-inbox {
  padding: 40px;
  color: #6F7B7E;
}
.aside .title {
  color: #6F7B7E;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main-inbox .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .main-inbox .item.active {
  background-color: #F1F1F1;
  margin: 0 -50px;
  padding-left: 50px;
}
.aside .main-inbox .item:active,.aside .main-inbox .item:hover {
  background-color: #F2F2F2;
  margin: 0 -50px;
  padding-left: 50px;
}
.aside .main-inbox .icon {
  font-size: 22px;
  padding-right: 30px;
  color: #A0A0A0;
}
.aside .main-inbox .name {
  font-size: 18px;
  color: #5D5D5D;
  font-weight: 500;
}
.messages {
  padding: 40px 20px;
}
.message {
  padding: 40px 20px;
}
.messages .action-buttons {
  padding: 0;
  margin-top: -20px;
}
.message .action-buttons {
  padding: 0;
  margin-top: -5px;
}

.pg {
  display: inline-block;
  top:10px;
}

.inbox-messages {
  border: #232B2D;
  border-width: 5px;
  margin-top:60px;
}

.inbox-messages .card-content {
  border-style: solid;
  border-width: 0.5px;
  width: 100%;
}
.inbox-messages strong {
  color: #5D5D5D;
}
.inbox-messages .msg-check {
  padding: 0 20px;
}
.inbox-messages .msg-subject {
  padding: 10px 0;
  color: #5D5D5D;
}
.inbox-messages .msg-attachment {
  float:right;
}
.inbox-messages .msg-snippet {
  padding: 5px 20px 0px 5px;
}
.inbox-messages .msg-subject .fa {
  font-size: 18px;
  padding:3px 0;
}
.inbox-messages .msg-timestamp {
  float: right;
  padding: 0 20px;
  color: #5D5D5D;
}
.message-preview .avatar {
  display: inline-block;
}
.message-preview .top .address {
  display: inline-block;
  padding: 0 20px;
}



.avatar img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 2px;
}
.address .name {
  font-size: 20px;
  font-weight: bold;
}
.address .email {
  font-weight: bold;
  color: #B6C7D1;
}
.card.active {
  background-color:#F5F5F5;
}

/* lock toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #87C27B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #87C27B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* recup */

.message-wrapper .panel {
  border-top: none;
  margin-top: 20px;
}

.list-message .list-group-item {
  padding: 15px;
  color: #999999 !important;
  border-right: 3px solid #8CC152 !important;
}

.avatar{
  width:50px;
  height:50px;
}

/* scrolly bars */
.col-md-4.message-sideleft .panel-body {
  overflow-y: auto;
  height: 100%;
}
.message-wrapper .col-md-8.message-sideright {
  margin-top:22px;
  overflow-y: auto;
  height: 500px;
}

/* EXTRA */

/* body{margin-top:20px;
  background:#eee;
  } */
  
  /* ========================================================================
   * MESSAGES
   * ======================================================================== */
  /* .message form {
    padding: 6px 15px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E6EBED;
  }
  .message form .has-icon .form-control-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 34px;
    line-height: 33px;
    text-align: center;
    color: #777;
  }
  .message > a {
    position: relative;
  }
  .message .indicator {
    text-align: center;
  }
  .message .indicator .spinner {
    left: 26%;
    width: 200px;
    font-size: 13px;
    line-height: 17px;
    color: #999;
  }
  
  .message-wrapper {
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
  }
  .message-wrapper .message-sideleft {
    vertical-align: top !important;
  }
  .message-wrapper .message-sideleft[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }

  .message-wrapper .message-sideright[class*="col-"] {
    padding: 30px;
  }
  .message-wrapper .message-sideright .panel {
    border-top: 1px dotted #DDD;
    padding-top: 20px;
  }
  .message-wrapper .message-sideright .panel:first-child {
    border-top: none;
    padding-top: 0px;
  }
  .message-wrapper .message-sideright .panel .panel-heading {
    border-bottom: none;
  }
  .message-wrapper .panel {
    background-color: transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .message-wrapper .panel .panel-heading, .message-wrapper .panel .panel-body {
    background-color: transparent !important;
  }
  .message-wrapper .media .media-body {
    font-weight: 300;
  }
  .message-wrapper .media .media-heading {
    margin-bottom: 0px;
  }
  .message-wrapper .media small {
    color: #999999;
    font-weight: 400;
  }
  
   */

  .list-message .list-group-item.active {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDD !important;
  }
  .list-message .list-group-item.active p {
    color: #999999 !important;
  }
  .list-message .list-group-item.active:hover, .list-message .list-group-item.active:focus, .list-message .list-group-item.active:active {
    background-color: #EEEEEE;
  }
  .list-message .list-group-item small {
    font-size: 12px;
  
  }
  .list-message .list-group-item .list-group-item-heading {
    color: #999999 !important;
  }
  .list-message .list-group-item .list-group-item-text {
    margin-bottom: 10px;
  }
  .list-message .list-group-item:last-child {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #DDD !important;
  }

  