/* Seller Progress Bar */

/* #progress .md-card {
    margin-bottom: 0px;
    max-width:700px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
    background-color:white;
} */

#progress h1 {
  font: 28px 'Roboto';
  color: #29105b;
}
#progress h2 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 25px "Roboto";
  color: #311c63;
  text-align: left;
}
#progress h3 {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-style: medium;
  font: 25px "Roboto";
  color: #311c63;
  text-align: left;
}
#progress h4 {
  font: 20px 'Roboto';
  color: #29105b;
}
#progress h5 {
  font: 20px 'Roboto';
  color:#29105b;
}
#progress p {
  font: 16px "Roboto";
  color: #29105b;
}
/* .progress_fill{
  background: rgb(114,10,196);
  background: linear-gradient(90deg, rgb(104, 170, 255) 50%, rgb(155, 19, 209) 100%);
} */
.progress_fill{
  background-image: linear-gradient(to right, rgb(180, 28, 147) 0%, #4926b4 51%, rgb(196, 41, 162) 100%);
  transition: 0.5s;
  background-size: 200% auto;
}
.blinking {
  background: purple;
  color: white;
  padding: 5px;
}

.blinking {
  animation: blink 0.7s 20 alternate;
}

@keyframes blink {
  from {
    background-color: purple;
    color: white;
  }
  to {
    background-color: white;
    color: purple;
  }
}
/* .progress_fill{
  background-image: linear-gradient(to right,#5e30ff 0%, #c444ff 51%, #5e30ff 100%);
  transition: 0.5s;
  background-size: 200% auto;
} */
/* .progress_fill{
  background-image: linear-gradient(to right,#4b1afc 0%, #c444ff 51%, #5e30ff 100%);
  transition: 0.5s;
  background-size: 200% auto;
} */
.progress_fill:hover {
  background-position: right center; /* change the direction of the change here */
}
.responsive-component.small #add-services {
  padding: 10px;
}

#progress_modal{
  color:#301a70;
  border: 5px #301a70 solid;
  padding: 30px;
}
#publicProfile-link {
  color: rgb(68, 0, 68);
}

#publicProfile-link:hover, #publicProfile-link:focus {
  color: purple;
}